

h1{
  color: #3f5697d7;
  font-family: 'Knewave', cursive;
  font-size: 30px;
  margin-top: 1px;
  margin-left: 600px;
 
}
                                              

h2{
  color: rgb(24, 20, 20);
  margin-top: 50px;
  margin-left: 400px;
  font-weight: bold;
  font-family:  'Potta One', cursive;
}

  header{
    background-color: rgba(154, 190, 231, 0.24);
    height: 40px;
  }
 
  

header:hover{
  background-color: #ccccff;
}

.titleh1{
  display: inline-block;
}

div img{
  width: 260px;
  height: 210px;
  margin: 20px;
  margin-top: 100px;
  margin-left: 100px;
}
#imgSection{
  min-width: 1000px
}
                                   
.titleImg{
  width: 50px;
  height: 50px;
  display: inline-block;
}
