/* #bbus{
  width: 80px;
  height: 80px;
} */

  header{
    background-color: rgba(154, 190, 231, 0.24);
    height: 55px;
  }
  h1{
  
    
    color: rgb(24, 101, 153);
    font-weight: bolder;
    font-size: 30px;
    font-family:  'Potta One', cursive;
    margin-top: -65px;
    margin-left: 90px;
  }
  
  
  
  h2{
    
    padding: 10px;
    color: rgba(39, 18, 18, 0.705);
    font-weight: bold;
    margin-left: 450px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    
  }
  /* .titleh2{
    display: inline-block;
    
  }
  
 section img{
    width: 260px;
    height: 210px;
    margin: 20px;
    margin-top: 100px;
    margin-left: 100px;
  }
  */
  

  div img{
    width: 260px;
    height: 210px;
    margin-top: 100px;
    margin-left: 100px;
  }
  #imgSection{
    min-width: 500px
    
  
  }
  
  .titleImg{
    width: 50px;
    height: 50px;
    display: inline-block;
  }